@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background: #111;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button {
    background: #000;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    background-color: #000; /* Green */
    border: none;
    color: #bbb;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

a:link {
    color: #7af;
}

a:hover {
    color: rgb(153, 186, 243);
}

a:visited {
    color: rgb(166, 77, 194);
}

#editor {
    background: #111;
    color: #444;

}

#output, #tableview {
    background: #111;
    color: #888;
}

td {
    padding-left: 20px;
    text-align: right;
}

table {
    border: 1px solid;
    border-color: #444;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 90%;
}